 <div class="user-details">
  <h1> Who am I? </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Open-source</h2>
      <i class="devicon-github-plain colored"></i>
      <p>I love using an contributing into the open-source. I was Google summer of code student under the Fedora project in 2018 and mentor for the same program in 2019. </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <p>Python is the language I speak. I have 2+ years experience of working on various python projects, from which most of them are open-source.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p>Every application should run inside of the container. I have experience of deploying and maintaining production applications in OpenShift/Kubernetes cluster.</p>
    </div>
</div>
